@{
	Layout = null;
}

<!DOCTYPE html>

<html>
<head>
	<title>Attention</title>
</head>
<body>	
	<script src="~/lib/signalr/signalr-client.js"></script>
	<script src="~/js/attentionhub.js"></script>

	<script>
		var audio = new Audio('@Url.Content(@"~/contents/hey_listen.mp3")');
		var scottAudio = new Audio('@Url.Content(@"~/contents/Scott!!.mp3")');
		var sound = null;
		var hub = new AttentionHub();
		hub.onAlertFritz = () => {
			alertFritz();
		}
		hub.onPlaySound = soundName => {
			playSound(soundName);
		}
		hub.onStopSound = () => {
			stopSound();
		}

		hub.onSummonScott = () => {
			scottAudio.play();
		}

		function alertFritz() {
			audio.play();
		}

		function playSound(soundName) {
			//TODO: verify sound name is a good value first
			sound = new Audio('/contents/' + soundName + '.mp3');
			sound.addEventListener('canplaythrough', () => sound.play(), false);
		}

		function stopSound() {
			if (sound) {
				sound.src = "";
			}
		}

		(function () {
			hub.start();
		})();

	</script>
</body>
</html>
